body {
  background-color: rgb(170, 179, 185);
}

.App {
  text-align: center;
  height: 100vh;
  margin: 10px;
  margin-bottom: 10px;
}

img {
  width: 70%;
}

li {
  list-style: none;
}
input {
  width: 80%;
  height: 40px;
}

/* 
/ Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1500px}

// Set gray background color and 100% height 
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

 Set black background color, white text and some padding 
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

 On small screens, set height to 'auto' for sidenav and grid 
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
} /
  */

#login-form h2 {
  color: aliceblue;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

#react-select {
  width: 40%;
  margin-bottom: 10px;
}

#reviews-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.review-square {
  width: 395px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#review-container {
  max-width: 40vw;
  background-color: gray;
  border: solid;
  border-radius: 10px;
  padding: 5px;
}

#review-pg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.comment-box {
  border: solid;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
  padding-left: 5px;
}

#comments-container {
  max-width: 30vw;
  margin-bottom: 10px;
}

.author-date {
  font-size: small;
  display: flex;
}

.author-date p {
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
}
