* {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100vh;
  margin: 0px;
  margin-bottom: 0px;
  /* background-color: #2b2b2b; */

  /* background-color: #dddddd; */
}

/* .dark-mode {
  background-color: #2b2b2b;
} */

body {
  /* background-color: rgb(170, 179, 185); */
  text-decoration: none;
  margin: 0;
}
.page-body {
  background-color: #dddddd;
}

.page-body.dark-mode {
  background-color: #444444;
}
img {
  width: 70%;
}

li {
  list-style: none;
}
input {
  width: 80%;
  height: 40px;
}

/* 
/ Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1500px}

// Set gray background color and 100% height 
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

Set black background color, white text and some padding 
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

On small screens, set height to 'auto' for sidenav and grid 
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
} /
  */

/* #login-form h2 {
  color: aliceblue;
} */

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

#react-select {
  width: 40%;
  margin-bottom: 0px;
}

.reviews-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  overflow: hidden;
  margin-left: 5%;
  /* background-color: #dddddd; */
}

.log-out-btn {
  margin-left: 33%;
}

.reviews-container.dark-mode {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  overflow: hidden;
  margin-left: 5%;
  /* background-color: #2b2b2b; */
}

#filter-results-sec {
  margin-top: 0px;
}
.review-square {
  width: 395px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#review-container {
  max-width: 40vw;
  background-color: gray;
  border: solid;
  border-radius: 10px;
  padding: 5px;
}

#review-pg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.comment-box {
  border: solid;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
  padding-left: 5px;
}

#comments-container {
  max-width: 30vw;
  margin-bottom: 10px;
}

.author-date {
  font-size: small;
  display: flex;
}

.author-date p {
  margin: 5px;
}

.nav-link {
  text-decoration: none;
}

/* .navbar {
  background-color: aliceblue;
} */

.review-title {
  color: blue;
  text-decoration: underline;
}

.review-title.dark-mode {
  color: #e1e1e1;
  text-decoration: underline;
}

.pagination {
  margin: 20px 0;
}

.pagination.page-link {
  color: #2b2b2b;
}

.review-card {
  margin-bottom: 20px;
  min-height: 400px;
  min-width: 400px;
  background-color: #2b2b2b;
}

.results-range {
  padding-top: 50px;
  margin: 0px;
  color: #bdbdbd;
}

/* .results-range.dark-mode {
  background-color: #2b2b2b;
} */
.loading-spinner {
  margin-top: 50%;
}

.logged-in-as {
  color: white;
  /* border: 3px solid blue; */
  border-radius: 5px;
  /* background-color: blue; */
}

#display-pic {
  max-height: 70px;
  max-width: 70px;
  border-radius: 100%;
  margin-left: 20%;
}

#display-pic-in-dropdown {
  height: 40px;
  width: 40px;
}

a {
  color: black;
  text-decoration: none;
}

.nav-item {
  margin-left: 15px;
}
